.form {
  width: 500px;
  margin: auto;
  padding-top: 100px;
}
.form form {
  width: 480px;
}
.form h1 {
  margin-bottom: 15px;
  text-align: center;
}
.form h4 {
    margin-top: 15px;
}
.form button {
  margin-top: 25px;
  font-weight: bold;
}

